.CONTAINER.-forDriversPage {
  .TopBanner {
    background-image: url(../../assets/drivers_registration/bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    .col.-main {
      min-height: 100vh;
      display: flex;
      margin-bottom: 0;
    }
  }

  .MainBox {
    background-color: $white;
    border-radius: 10px;
    margin: auto;
    padding: 2rem;
    max-width: pxToRem(420);

    .Logo {
      margin-bottom: 1.5rem;
    }

    p {
      margin: 0 0 1.5rem;
    }

    .buttons-wrapper {
      text-align: center;
      @include for-tablet-portrait-up {
        display: flex;
        align-items: center;
        justify-content: center;
      }

      .btn,
      .btn-asLink {
        flex-basis: 50%;
      }
      .btn-asLink {
        font-weight: bold;
        color: $text-default;
        padding: 1rem 0;
        display: block;
      }
    }
  }

  .section {
    padding: 3rem 10%;
    gap: 10%;
    p {
      margin: 0 0 1rem;
    }
    .col {
      .btn {
        @include for-phone-only {
          height: 2rem;
          width: unset;
        }
      }
      img {
        width: 100%;
        max-width: pxToRem(500);
        @include for-phone-only {
          padding: 0 3rem;
        }
      }
    }
    .col.-centerAligned {
      align-self: center;
    }
  }

  .SendOrder {
    background-color: $bg-secondary;
    @include for-phone-only {
      display: flex;
      flex-direction: column-reverse;
    }
  }

  .VisitService {
    padding-bottom: 0;
  }

  .RegisterAllCars {
    display: flex;
    margin-bottom: -5rem;
    position: relative;
    z-index: 1;
    height: 36rem;
    @include for-tablet-portrait-up {
      height: unset;
      background-position: left top center;
      background-size: cover;
    }
    img {
      height: 100%;
      max-width: unset;
      position: relative;
      left: -2rem;
      @include for-tablet-portrait-up {
        position: static;
        height: unset;
        width: 100%;
      }
    }
    h2 {
      width: 100%;
      position: absolute;
      z-index: 2;
      top: 28%;
      left: 0;
      padding: 0 5rem;
      font-size: pxToRem(21);
      font-style: italic;
      font-weight: bold;
      color: $violet;
      text-align: center;
      @include for-tablet-portrait-up {
        top: 26%;
        font-size: pxToRem(30);
      }
    }
  }

  .Timeline {
    background-color: #3a2e61;
    color: $white;
    padding: 10rem 2rem 3rem;

    @include for-tablet-portrait-up {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    h2 {
      text-align: center;
    }

    &-row {
      margin: 5rem 0;
      &:not(:last-child) .image::after {
        content: "";
        display: block;
        width: 2px;
        height: 10rem;
        background-color: #55448a;
        position: absolute;
        left: 50%;
        top: 100%;
      }

      .image {
        position: relative;
        float: left;
        margin: 0 1rem 0 0;
        max-width: 5rem;

        img {
          width: 100%;
        }

        @include for-tablet-portrait-up {
          float: none;
          margin: 0;
          max-width: unset;
        }
      }

      .time {
        &,
        &-desktop {
          color: #cdb8ff;
          font-weight: bold;
          font-family: Cambay;
          font-size: pxToRem(15);
        }
        @include for-tablet-portrait-up {
          display: none;
        }
        &-desktop {
          display: none;
          @include for-tablet-portrait-up {
            display: block;
            justify-self: flex-end;
          }
        }
      }

      .btn {
        margin: 0.5rem 0 0;
        width: unset;
        @include for-tablet-portrait-up {
          margin: 0 0 0 auto;
        }
      }
      h3 {
        @include for-tablet-portrait-up {
          // margin: 0 0 -0.2rem
        }
      }

      @include for-tablet-portrait-up {
        width: 100%;
        margin: 4rem 0;
        display: grid;
        gap: 2rem;
        grid-template-columns: 1fr pxToRem(133) 1fr;
        grid-template-rows: pxToRem(133);
        align-items: center;
        justify-items: center;
        .content-wrapper {
          justify-self: flex-start;
        }

        &.-leftAligned {
          .content-wrapper {
            grid-column: 1 / 2;
            grid-row: 1;
            justify-self: flex-end;
            text-align: right;
          }
          .time-desktop {
            grid-column: 3 / 4;
            grid-row: 1;
            text-align: left;
            justify-self: flex-start;
          }
        }
      }
    }
  }

  .WhyWeBest {
    text-align: center;
    background-color: #55448a;
    padding: 2.5rem 0 2rem;
    font-family: Cambay;
    font-style: italic;
    font-size: pxToRem(21);
    color: $white;
  }

  .GiftForYou {
    background-image: unset;
    @include for-tablet-landscape-up {
      padding-top: 8rem;
      background-image: url(../../assets/for_drivers/gift_1.svg),
        url(../../assets/for_drivers/gift_2.svg);
      background-position: left 40%, right 40%;
      background-size: calc(calc(100% - 40rem) / 2);
    }
    @include for-big-desktop-up {
      background-size: 30rem;
    }

    h2 {
      font-size: pxToRem(48);
      font-weight: 400;
      .-highlight {
        font-weight: bold;
      }
    }
    p {
      font-size: pxToRem(14);
    }
    .bothGifts {
      margin-bottom: 1rem;
      @include for-tablet-portrait-up {
        display: none;
      }
    }
    .orange_Star,
    .purple_Star,
    .purple_Star2 {
      @include for-phone-only {
        display: none;
      }
    }
  }
}
